.home-master {
    min-height: 100vh;
    height: 100%;
    .home-border {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .home-center {
            width: 37.5rem;
            .post-blog {
                display: flex;
                align-items: start;
                gap: 8px;
            }
        }
    }
}